<div class="col-md-12">
    <div class="card card-container">

        <form style="text-align:center" name="form" (ngSubmit)="f.form.valid && Search()" #f="ngForm" novalidate>
            <h5>Search Books</h5>
            <div class="form-group">
                <label for="category">Category</label>
                <input type="text" class="form-control" name="category" [(ngModel)]="search.category" required
                    minlength="3" #category="ngModel" />
                <div class="alert-danger" *ngIf="category.errors && f.submitted">
                    <div *ngIf="category.errors.required">category is required</div>
                    <div *ngIf="category.errors.minlength">
                        category must be at least 3 characters
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title" [(ngModel)]="search.title" required minlength="3"
                    #title="ngModel" />
                <div class="alert-danger" *ngIf="title.errors && f.submitted">
                    <div *ngIf="title.errors.required">title is required</div>
                    <div *ngIf="title.errors.minlength">
                        title must be at least 3 characters
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="author">Author</label>
                <input type="text" class="form-control" name="author" [(ngModel)]="search.author" required minlength="3"
                    #author="ngModel" />
                <div class="alert-danger" *ngIf="author.errors && f.submitted">
                    <div *ngIf="author.errors.required">author is required</div>
                    <div *ngIf="author.errors.minlength">
                        author must be at least 3 characters
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" class="form-control" name="price" [(ngModel)]="search.price" required minlength="1"
                    #price="ngModel" />
                <div class="alert-danger" *ngIf="price.errors && f.submitted">
                    <div *ngIf="price.errors.required">price is required</div>
                    <div *ngIf="price.errors.minlength">
                        price must be at least 1 characters
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="publisher">Publisher</label>
                <input type="text" class="form-control" name="publisher" [(ngModel)]="search.publisher" required
                    minlength="3" #publisher="ngModel" />
                <div class="alert-danger" *ngIf="publisher.errors && f.submitted">
                    <div *ngIf="publisher.errors.required">publisher is required</div>
                    <div *ngIf="publisher.errors.minlength">
                        publisher must be at least 3 characters
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" >search</button>
            </div>

            <div class="form-group">
                <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isSearchFailed">
                    Search failed: {{ errorMessage }}
                </div>
            </div>
        </form>
        <div class="alert alert-success" *ngIf="isSearchSuccess">
           Search Result {{books}}
           <ul class="list-group">
               <li *ngFor="let book of books">
                   <div class="book-container">{{book.title}}</div>
                   <div *ngIf="userLoggedIn">
                       <button *ngIf="checksubscribe(book.id)" (click)="subscribeABook(book.id)">subscribe</button>
                       <button *ngIf="checkUnSubscribe(book.id)" (click)="unSubscribeBook(book.id)">unsubscribe</button>
                   </div>
                   <div class="alert alert-success" *ngIf="isSubscribe">
                       {{successMessage}}
                   </div>
                   <div class="alert alert-success" *ngIf="isUnSubscribe">
                    {{successMessage}}
               </div>
               </li>
           </ul>
        </div>
    </div>
</div>